<form class= "submit-form">
    <h3 style="text-align: center;">Login</h3>
    <div class="imgcontainer">
      <img src="" alt="Logo" class="Logo">
    </div>
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Email: " name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Password: " name="psw" required>
          
      <button type="submit">Login</button>
      <p style="text-align: left;"><a href="#">Forgot Password?</a></p>
    </div>
  </form>
  
  
  
