<app-topbar></app-topbar>
<div>
    <h3 style="text-align: center;"> User Management </h3>
<div style="margin-bottom:5px;"><button  class="addBtn" [routerLink]="[addUserLink]">Add User</button></div>
<table id="users_table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
  </tr>
  
  <tr *ngFor="let user of users; let i = index">
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role | objecttoarray}}</td>
    <td style="text-align: center;" ><button [routerLink]="['/edituser/',user._id]"  class="editBtn">Edit</button></td>
    <td style="text-align: center;"><button  (click) = "delete(user._id, i)"  class="delBtn">Delete</button></td>
  </tr>
  
</table>
</div>

