<div>
    <h3 style="text-align: center;"> User Management </h3>
<div style="margin-bottom:5px;"><button  class="addBtn">Add User</button></div>
<table id="users_table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <!-- Placholder data!!!!  Please replace with database data -->  
    <td>TestFirstName</td>
    <td>TestLastName</td>
    <td>Test@yahoo.com</td>
    <td>User</td>
    <td style="text-align: center;"><button class="editBtn">Edit</button></td>
    <td style="text-align: center;"><button class="delBtn">Delete</button></td>
  </tr>
  
</table>
</div>

