
<app-topbar></app-topbar>
<div class='row mt-5 '>

    <div class='col' style='text-align:center;' >
<app-userinformation [childMessage]="disableTag"></app-userinformation>
        </div>


    <div class='col-4 fix'> 
  <app-cart [childMessage]="disableTag"></app-cart>
<br/>






<form class='creditCard'>
  <div class="form-row">
    <div class="col mb-3">
      <label for="validationDefault01">Credit Card Number</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="**** **** **** ****" value="" required>
    </div>
   
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">Expiration Date</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="MM / YY" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">CV Code</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
    </div>
   
  </div>
 
  <button class="btn btn-primary" type="submit" (click)="payNow()">Pay Now </button>
</form>

    </div>
</div>

    
