<app-topbar></app-topbar>
   <body style="padding-left:16px;">
      <div *ngIf="loading else loaded">
         <app-topbar></app-topbar>
         
            <app-spinner></app-spinner>
         </div>
         <ng-template #loaded>
          
         <h3 class="title">Make a Donation</h3>
         
         <div class="row">
            <div class="column"  *ngFor="let type of donationTypes;" (click)="open(type._id,type.donName)" >
              <div class="card">
              <img src="assets/images/NGOLogo.png" alt="Event" style="width:100%">
                <p style="margin-top: 12px;"></p>
                <p>{{type.donName}}</p>
              </div>
            </div>   
          </div>
               
         </ng-template>
   </body>
   
   

