<app-topbar></app-topbar>
<div style="margin-top: 40px;">
<form class="submit-form" [formGroup]="userForm" (ngSubmit)="onSubmit()" style="width: 40%;">
    <h3 class="title">{{title}}</h3>  

      <div class="form-group">
        <label for="firstname"><b>First Name:</b> </label>
        <input class="form-control" type="text" id="firstname" formControlName="firstname" required >
      </div>

      <div class = "form-group">
        <label for="lastname"><b>Last Name </b></label>
        <input class="form-control" type="text"  id="lastname" formControlName="lastname" required  >
      </div>

      <div class = "form-group">
        <label for="email"><b>Email</b></label>
        <input class="form-control" type="text"  id="email" formControlName="email" required >
      </div>

    <div class = "form-group">
      <label for="password"><b>Password </b></label>
      <input class="form-control"  type="text"  id="password" required >
    </div>

    <div class = "form-group">
      <label for="role"><b>Role </b></label>
      <select class="form-control"  formControlName="role" id="role" required >
        <option value="6065e41222aef04b96b66dc3">Admin</option>
        <option value="6065e3ac89e1f04accc64b41">User</option>
      </select>
    </div>
    
      <div class = "form-group">
      <button class="submit">Add User</button>
      <button class="backBtn"  routerLink="/Users/">Cancel</button>
      </div>

      
</form>
</div>