<app-topbar *ngIf='childMessage != false'></app-topbar>

<div class='container mt-5'>

<h5 *ngIf='!childMessage'>Summary </h5>
<div>


<div *ngIf="isCartEmpty" class="card mb-3">
  <div class="card-body">
   Your Cart is Empty ..
  </div>
</div>


<table class="table" *ngIf="!isCartEmpty">
  <thead>
    <tr>
      <th scope="col">Name </th>
      <th scope="col">Price </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of cartItems'>
      <th scope="row">{{item.item_name}}</th>
      <td>{{item.item_price | currency}}</td>
    </tr>
  
    <tr>
    <td>Total: </td>
    <td>{{totalPrice | currency}}</td>
    </tr>
  </tbody>





</table>
<button class='btn btn-primary' routerLink = '/Events'>Continue Shopping </button>
&nbsp;

<button class='btn btn-danger' *ngIf="childMessage != false && !isCartEmpty"  (click)="ClearShoppingCart()">Clear The Shopping Cart</button>

<button class='btn btn-danger' *ngIf="childMessage"  (click)="ClearShoppingCart()">Clear The Shopping Cart</button>
&nbsp;
 <button *ngIf="childMessage != false && !isCartEmpty" class='btn btn-secondary' routerLink = '/Cart/addshipmentinfo'>Check Out  </button>

 <button *ngIf="childMessage" class='btn btn-secondary' routerLink = '/Cart/addshipmentinfo'>Check Out  </button>

</div>
</div>