  <div class="cust_topnav" >
      
      <!-- Left-aligned links  -->

      <a routerLink="/home">Home</a>
      <a routerLink="/Users" *ngIf="isAdmin">User Management</a>
      <a routerLink="/Donations" *ngIf="isAdmin" >Events Management</a>
      <a routerLink="/Events">User View</a>
      
      
      <!-- Right-aligned links -->
      <div class="cust_topnav-right">
     <a *ngIf="currentUser.firstname">{{currentUser.firstname + " "  + currentUser.lastname }}: ( <span *ngIf="isAdmin">Admin </span><span *ngIf="!isAdmin">User </span> ) </a>
      <a routerLink='/Cart/cart'><i class="fa fa-shopping-cart"></i> {{cartItemsLenght}} </a>
       <a  routerLink="/login" (click)='logOut()' > LogOut</a>
      </div>
    </div>
    