<app-topbar></app-topbar>

<div class="alignment">
    <h3 style="text-align: center; margin-bottom: 40px; margin-top: 35px;"> Donation Management </h3>
 <div style="margin-bottom:5px;"></div>
<div>
    
</div>
 <table id="donation_table">
   <tr>
     <th>Name</th>
     <th>Date</th>
     <th>Amount</th>
     <th>Donation Type</th>
    
   </tr>
    <!-- Placholder data!!!!  Please replace with database data -->  
   <tr *ngFor="let donation of donationsData"> 
     <td>{{donation.userId.firstname + " " + donation.userId.lastname}}</td>
     <td>{{donation.dateCreated | date }} , {{donation.dateCreated | date:'shortTime'}}</td>  <!-- replace later with {{ dateObj | date:'shortDate' }}-->
     <td>{{ donation.amount| currency:'USD' }} </td> 
   <div style = 'display:flex;padding:10px;'>  
<div *ngFor= "let type of donation.donType" >
          <span>
({{type.donName }} )  &nbsp;     
   </span>
         </div>
     
    </div >
   </tr>
 </table>
</div>
 
