.alignment{
  margin-left:30px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* ---------------  Table Design ---------------------*/
#donation_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #donation_table td, #donation_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #donation_table tr:nth-child(even){background-color: #EDF2F4;}
  
  #donation_table tr:hover {background-color: #ddd;}
  
  #donation_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2B2D42;
    color: white;
  }
/* ---------------  Button Design ---------------------*/
  button {
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  
  button.addBtn {
    background-color: #D90429; 
    color: white; 
    border: 2px solid #D90429;
    text-align: center; 
    float:right; 
    width: 180px;
  }
  button.addBtn:hover {
    background-color: #EF233C;
    color: white;
  }